@charset "utf-8";

@font-face {
    font-family: "Darker Grotesque Regular";
    src: url(fonts/Darker_Grotesque/DarkerGrotesque-Regular.ttf) format(ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Asta Sans Semibold";
    src: url(fonts/Asta_Sans/AstaSans-SemiBold.ttf) format(ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Asta Sans Regular";
    src: url(fonts/Asta_Sans/AstaSans-Regular.ttf) format(ttf);
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #F2F2F2;
    color: #3A3A3A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
}

h1 {
    font-family: "Darker Grotesque Regular", sans-serif;
    font-size: 15rem;
    line-height: 15rem;
    letter-spacing: 0.5rem;
}

h2 {
    font-family: "Darker Grotesque Regular", sans-serif;
    font-size: 6.8rem;
}

h3 {
    font-family: "Asta Sans Semibold", sans-serif;
    font-size: 2.5rem;
}

h4,
ul,
li,
label,
input,
option {
    font-family: "Darker Grotesque Regular", sans-serif;
    font-size: 1.5rem;
}

p {
    font-family: "Asta Sans Regular", sans-serif;
    font-size: 1.5rem;
    max-width: 650px;
}

a {
    text-decoration: none;
    font-family: "Darker Grotesque Regular", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #3A3A3A;
}

header {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 105px;
}

nav {
    display: flex;
    align-items: center;
    gap: 85px;
}

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

#banner {
    height: 10vh;
    background-color: #B48FDB;
    color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 10px;
}

#intro {
    height: 80vh;
    background-color: #F6F6F6;
    display: flex;
    padding: 0 90px;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#intro #textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
}

#intro #foto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#galeria {
    height: 130vh;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    align-self: stretch;
}

#galeria #titulos {
    width: 100%;
    height: 20vh;
    padding: 0 90px;
    display: flex;
    align-items: center;
    gap: 40px;
}

#galeria #fotos {
    height: 80vh;
    padding: 0 90px;
    display: flex;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}

.cards {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    border-radius: 20px;
    display: flex;
}

.cards img {
    border-radius: 20px;
}

#barra {
    padding-left: 90px;
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 15px;
}

footer {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #3A3A3A;
    color: #F6F6F6;
}

footer #contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 275px;
}

footer .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

footer .redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer .redes a {
    color: #F6F6F6;
    padding: 0 10px;
}

/*galeria*/

#titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 80px 0;
}

#miniaturas {
    width: 100vw;
    padding: 90px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#miniaturas img {
    border-radius: 15px;
}

#galeria {
    display: none;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 0;
}

#galeria li {
    display: flex;
}

#galeria-oculta {
    display: flex;
    width: 100vw;
    max-width: 1450px;
    overflow: hidden;
    z-index: 20;
}

.fraccion-galeria {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    min-width: 1450px;
    height: 100vh;
    justify-content: space-between;
    border-radius: 15px;
    padding: 60px 60px;

}

.primer-ultima-flecha {
    visibility: hidden;
}

.close {
    position: absolute;
    top: 40px;
    right: 2%;
}

/*------IDS CON LAS IMÁGENES DE LA GALERÍA-------*/

#foto-1 {
    background-image: url("img/galeria/foto-1.jpg");
    border-radius: 20px;
}

#foto-2 {
    background-image: url("img/galeria/foto-2.jpg");
    border-radius: 20px;
}

#foto-3 {
    background-image: url("img/galeria/foto-3.jpg");
    border-radius: 20px;
}

#fondo-galeria {
    background-color: black;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #B48FDB;
}

/*segundo html: proyectos*/

#proyectos {
    display: flex;
    padding: 80px 0;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#tituloproyec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.proyectosvideos {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.proyectosvideos div {
    display: flex;
    align-items: baseline;
    justify-items: normal;
    gap: 25px;
}

/*tercer html: formulario*/

#formulario {
    display: flex;
    height: 100vh;
    padding: 0 90px;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

#trabajemos {
    display: flex;
    width: 35%;
    padding: 80px 0 0 90px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    line-height: 6rem;
}

#formtexto {
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #B48FDB;
    border-radius: 20px;
}

#formtexto div {
    margin-top: 20px;
    width: 100%;
}

input,
textarea,
#Opciones {
    background-color: #F2F2F2;
    width: 100%;
    border-radius: 15px;
    border-style: none;
    height: 60px;
    padding: 20px;
}

textarea {
    height: 150px;
}

.boton-form,
button {
    width: 100%;
    text-align: center;
    background-color: #3A3A3A;
    color: #F2F2F2;
    border-radius: 15px;
    border-style: none;
    padding: 20px;
}

/*media queries*/

@media screen and (max-width: 500px) {

    * {
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1rem;
    }

    p{
    font-size: 0.8rem;
    }

    #intro {
        flex-direction: column;
    }

    #banner{
        visibility: hidden;
    }

    #intro #textos {
        text-align: center;
        background-color: #440687;
    }

    #intro #foto{
        width: 30%;
    }

}